@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html {
	margin:0px;
	padding:0px;
        max-width: 100%;
        height: auto;
        margin-bottom:0px;
}

body{
	margin:0px;
	padding:0px;
	font-family:Verdana;
	font-size1:11px;
	overflow-x: hidden;
}
	html{
		background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/footer7.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:no-repeat;
background-position:absolute;
background-attachment:fixed;
}
#layer {
    z-index: -1; /* Порядок слоев */
    width: 100%; /* Ширина слоя с фоном */
    height: 100%; /* Высота слоя с фоном */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Положение от левого края окна */
    top: 0; /* Положение от верхнего края */	
background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/footer.jpg); 	
}

/*-- Header Style --*/
#hdr {
	width:1000px;
	height:288px;
	margin:0 auto;
}
/*-- Container Style --*/
#cnt {
	width:1000px;
	height:auto;
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-color:#FFF;
	position:relative;
	background:url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/cnt.jpg) repeat-y;	
	margin:0 auto;
}
#lcnt {
	width:710px;
	min-height:auto;
	float:left;
	background-color:#FFF;
	position:relative;
}
.post {
	width:622px;	
	margin:50px 0 0 47px;
}
.post h1 {
	font-size:29px;
}
.post h1 a {
	text-decoration:none;
	color:#000;
}
.post p {
	font-size:12px;
}
.post_inf {
	float:left;
	border-right:1px solid;
	text-align:right;
	margin:0 15px 0 0;
	padding:10px 0 0 0;
	height:64px;
}
.post_inf span {
	margin: 0 20px 0 0;
	font-size:14px;
}
.post_inf a {
	margin: 0 20px 0 0;
	font-size:14px;
	text-decoration:none;	
	color:#000;
}
.post_inf a:hover {
	text-decoration:underline;
}

#rcnt {
	width:290px;
	float:left;
	position:relative;
}
/* -- Article Style -- */
#lcnt h2 {
	margin:40px 0 0 70px;
	font-size:22px;
}
#lcnt h2 a {
	text-decoration:none;
	color:#828180;
}
#lcnt h2 a:hover {
	text-decoration:underline;
}


.av { 
     position: absolute;
     top: 80px;
     left: 255px;
     width: 40px;
     height: 40px;
     background-image: url();
     background-position: top left;
     background-repeat: no-repeat;
     cursor: pointer;

	}
.notea {
    font-family: arial, verdana;
	font-size: 17px;
    position: absolute;
    margin:0 auto;
	width:100%;
	top: 25px; 
	left: 390px;
	text-align:center;
	color:#fff;
	}
	
.submitback{
	outline: none;
	text-indent: -9000px;
	border: 0;
	width: 49px;
	height: 42px;
	background: transparent url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/arrowback.png) no-repeat center center;
	position: absolute;
	top: 90px;
	left: 914px;
	cursor: pointer;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
}
.cn-slide:target .cn-back{
	left: 3px;
	opacity: 1;
}

.submit{
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/arrow.png) no-repeat center center;
	border: 0;
	position: absolute;
	top: 90px;
	left: 820px;
	cursor: pointer;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
	
}
.submithome{
	outline: none;
	text-indent: -9000px;
	width: 51px;
	height: 45px;
	background: transparent url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/home.png) no-repeat center center;
	border: 0;
	position: absolute;
	top: 84px;
	left: 867px;
	cursor: pointer;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
	}
/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
	html{
		background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/art.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:repeat;
background-position:center;
background-attachment:fixed;
}

/* Landscape tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
		html{
		background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/footer7.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:repeat;
background-position:center;
background-attachment:fixed;
}

/* Portrait tablets and small desktops Мой samsung */
@media screen and (min-width: 768px) and (max-width: 991px) {
	body, html{
		background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/footer7.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:repeat;
background-position:center;
background-attachment:fixed;
}
 
/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
		html{
		background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/footer7.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:repeat;
background-position:center;
background-attachment:fixed;

}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
			html{
		background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/footer7.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:repeat;
background-position:center;
background-attachment:fixed;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
			html{
		background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/footer7.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat:repeat;
background-position:center;
background-attachment:fixed;

}*/
