#page{
	width:-18%;
	height:-18%;
	margin: auto;
	position:relative;
}
.pic{
	position:absolute;
	overflow:hidden;
	border:4px solid #3CB371; /* зеленые */
	text-decoration:none;
	z-index:0;
}

.pic img{
	position:absolute;
	border:none;
}

.pic:nth-child(2n+1){
	border-color:#FFFFF0; /* белые */
}

.pic:nth-child(3n+2){
	border-width:50%;
}
.cn-back{
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(arrow.png) no-repeat center center;
	position: absolute;
	top: 22px;
	left: 200px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
}

/* General styles переход по ссылке */

#notes{
	margin:0 auto;
	width:100%;
	text-align:center;
}

a1, a1:visited {
	text-decoration:underline;
	outline:none;
	color:#3CB371;
}

a1:hover{
	text-decoration:none;
}